

  <div id="content" class="{{ customClass }}">
      <nav class="navbar navbar-expand-lg sticky-top bg-gradient">
          <button class="navbar-toggler btn btn-primary active" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
            <i style="color: white;" class="p-2 fa fa-bars faa-wrench animated-hover"></i>
          </button>
          <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" *ngIf = "!isAuthenticated" id="item2" routerLink = "auth" routerLinkActive = "active"><i class="p-2 fa fa-wrench faa-wrench animated-hover"></i>Entrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="item2"  *ngIf = "isAuthenticated" (click) = "onLogout()"><i class="p-2 fa fa-sign-out faa-wrench animated-hover"></i>Cerrar Sesión</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container">
          <router-outlet></router-outlet>
        </div>
       

        <ngx-scrolltop
          [backgroundColor]="'rgba(1, 22, 112, 0.5)'"
          [symbolColor]="'#fafafa'"
          [size]="40"
          [mode]="'classic'"
          position="right"
          theme="gray">
        </ngx-scrolltop>
  </div>

